<!DOCTYPE html>
<html lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Spring 01 - Add person</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	
	<body class="card-body">
		<div class="card text-white bg-dark mb-3">
			<div class="card-header">Add a new floor to the building.</div>
		  	<div class="card-body">
				<form th:action="@{/postAddFloor}" th:object="${floor}" method="POST">
					<div class="form-group">
			  			<label for="level">Level</label>
			  			<input type="text" required="required" class="form-control" id="level" name="level">
					</div>
				<button type="submit" name="btnNewFloor" class="btn btn-success">Create new floor</button>
				<a th:href="@{/getIndex}" class="btn btn-success">Main menu</a>
			</form>
		</div>
	</body>
	
</html>