<!DOCTYPE html>
<html lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Spring 01 - Building Management</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<table aria-label="" class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Building Manager - Main menu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="card text-white bg-dark mb-3">
		  					<div class="card-body">
								<p>Building schema</p>
								<a th:href="@{/postBuildingSchema}" class="btn btn-success">Show</a>
							</div>
						</div>
						<div class="card text-white bg-dark mb-3">
			  				<div class="card-body">
								<p>Show elements</p>
								<a th:href="@{/getPeople}" class="btn btn-success">List all people</a>
								<a th:href="@{/getApartments}" class="btn btn-success">List all apartments</a>
								<a th:href="@{/getFloors}" class="btn btn-success">List all floors</a>
							</div>
						</div>
						<div class="card text-white bg-dark mb-3">
		  					<div class="card-body">
								<p>Search elements</p>
								<a th:href="@{/getPersonSearch}" class="btn btn-success">Filter people</a>
								<a th:href="@{/getApartmentSearch}" class="btn btn-success">Filter apartments</a>
								<a th:href="@{/getFloorSearch}" class="btn btn-success">Filter floors</a>
							</div>
						</div>
						<div class="card text-white bg-dark mb-3">
		 	 				<div class="card-body">
								<p>Create elements</p>
								<a th:href="@{/getAddPerson}" class="btn btn-success">Add new person</a>
								<a th:href="@{/getAddApartment}" class="btn btn-success">Add new apartment</a>
								<a th:href="@{/getAddFloor}" class="btn btn-success">Add new floor</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
	
</html>